@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: linear-gradient(
    99deg,
    rgba(255, 255, 255, 0) 40%,
    rgba(232, 232, 232, 1) 73%,
    rgba(115, 115, 115, 1) 90%,
    rgba(56, 56, 56, 1) 99%
  );
}

*:not(p):not(h1):not(h2):not(h3):not(h4):not(h5):not(h6) {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

img {
  user-select: none;
}

.drop:hover {
  filter: drop-shadow(2px 4px 6px rgb(255, 255, 255));
}

.project {
  background: linear-gradient(
    180deg,
    rgba(167, 167, 167, 0.7707457983193278) 2%,
    rgba(255, 255, 255, 0.7287289915966386) 33%,
    rgba(129, 131, 131, 1) 68%,
    rgba(121, 121, 122, 1) 88%,
    rgba(74, 74, 75, 1) 100%
  );
}

.heredero:hover .project {
  background: linear-gradient(
    180deg,
    rgba(35, 213, 205, 0.7707457983193278) 2%,
    rgba(255, 255, 255, 0.7287289915966386) 33%,
    rgba(114, 255, 242, 1) 68%,
    rgba(41, 39, 189, 1) 88%,
    rgba(0, 0, 107, 1) 100%
  );
}

/* swiper */

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  object-fit: cover;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
}
.swiper-button-prev {
  color: #030081 !important;
  height: 60px !important;
  left: 0 !important;
  width: 60px !important;
  border-radius: 50%;
  background-color: rgb(255, 254, 185);
}
.swiper-button-next {
  color: #030081 !important;
  height: 60px !important;
  right: 0 !important;
  width: 60px !important;
  border-radius: 50%;
  background-color: rgb(255, 254, 185);
}
.swiper-button-prev:hover {
  background-color: rgb(255, 251, 0);
  color: rgb(255, 255, 255) !important;
}

.swiper-button-next:hover {
  background-color: rgb(255, 251, 0);
  color: rgb(255, 255, 255) !important;
}

/* EFFECTOS */
.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: #0087ca;
}

.hover-underline-animation::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #0087ca;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

@keyframes estrellaAnimacion {
  0% {
    transform: translateY(0) translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateY(-100vh) translateX(100vw);
    opacity: 0;
  }
}

/* otros */
.lineEffect {
  width: 290px;
  height: 250px;
  padding: 20px;
  margin-left: 8%;
  background-color: #121824;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 5px;
  margin-left: 7vh;
  position: relative;
  overflow: hidden;
}
.lineEffect::before {
  content: '';
  position: absolute;
  width: 600px;
  height: 600px;
  background-image: conic-gradient(#bc13fe 20deg, transparent 80deg);
  animation: rotar 1s linear infinite;
  border-radius: 10px;
}
@keyframes rotar {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}
